# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build
.dist
*.egg-info/
.venv/
venv/
.env

# Packaging
/dist/
/build/
/*.egg-info/
*.egg-info/
*.eggs/
pip-wheel-metadata/

# coverage / pytest
.coverage
htmlcov/
.pytest_cache/

# editors
.vscode/
.idea/

# docs build (sphinx later)
docs/_build/